.left-section{
    width: 220px;
    flex-shrink: 0;
    height: 100vh;

    background-color: rgb(80,42,186);

    display:flex;
    flex-direction:column;
    align-items:center;

    padding-top:30px;
}
.logo-img{
    height: 100px;
    width: 100px;
    background: transparent;
    margin-bottom: 50px;
}
.dash-button,
.transaction-button,
.summary-button{
    width: 180px;
    text-align:left;
    padding:12px 20px;
    border-radius:8px;
    cursor: pointer;
}
.dash-button:hover,
.transaction-button:hover,
.summary-button:hover{
    background-color: rgba(255,255,255,0.15);
    color:white;
}

.active-button{
    background-color: rgba(255,255,255,0.15);
    color: white;
    font-weight: bold;
}