body{
    background-color: rgb(244, 237, 237);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.css-body{
    display: flex;
    flex-shrink: 1;
    gap: 20px;
    height: 100vh;
    position: relative;
}
.header-1, .header-2{
    margin-top: 0;
}
.header-1{
    color: #1e293b;
    font-size: 40px;
    font-weight: 700;
}

/*-----  Updated layout after the transaction button is pressed  -----*/

/* Smooth animation */
.middle-section,
.right-section{
    transition: all 0.4s ease;
}
.middle-section{
    transform: translateX(0);
}

.transaction-view .middle-section{
    transform: translateX(-30px);
}
/* Transaction mode */
.transaction-view .middle-section{
    flex: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
}

.transaction-view .right-section{
    flex: 1;
    max-width: none;
}

/* ==========================
   Transaction View Animation
   ========================== */

.middle-section,
.right-section{
    transition: all 0.4s ease;
}

.transaction-view .middle-section{
    flex: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
}

.transaction-view .right-section{
    flex: 1;
    max-width: none;
}
.right-section{
    margin-right: 50px;
}